<!DOCTYPE html>
<html>
  <body>
    <form action="" method="post">
      <label for="name">Name: </label>
      <input
        type="text"
        name="name"
        id="name"
        style="border: 1px solid black"
      />
      <br />
      <label for="phone">Phone: </label>
      <input
        type="number"
        name="phone"
        id="phone"
        style="border: 1px solid black"
      />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
